<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.umu.dv20von.one_punch_man_trainer">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="One Punch Man Trainer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name="se.umu.dv20von.one_punch_man_trainer.StartActivity" android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="se.umu.dv20von.one_punch_man_trainer.CharacterSelectActivity" android:exported="false">
            <!--Default Intent Filter-->
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="se.umu.dv20von.one_punch_man_trainer.TrainingActivity" android:exported="false">
            <!--Default Intent Filter-->
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="se.umu.dv20von.one_punch_man_trainer.ExerciseActivity" android:exported="false" android:screenOrientation="portrait">
            <!--Default Intent Filter-->
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>